body {
  background-color: pink;
  font-family: Arial, sans-serif;
  text-align: center;
  color: White;
  text-shadow: 2px 2px 5px gray;
}

h1 {
  text-decoration: underline;
}

ul {
  background-color: skyblue;
  border: 5px solid white;
  list-style-type: square;
 
}

ol {
  background-color: palevioletred;
  list-style-type: upper-roman;
  border: 5px solid white;
}
